<nav class="navbar navbar-expand bg-dark">
    <a class="navbar-brand" href="#"><i class="fa fa-weight" style="color: white;"></i></a>
    <ul class="navbar-nav active">
        <li class="nav-item active text-white">
          <a class="nav-link text-white" style="text-decoration: none;" [routerLink]="['home']">Home </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white" [routerLink]="['community']" >Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Logout</a>
        </li>
   
      </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>